# -----------------------------------------------------------------------------------------------

[setup]

# This can be any valid port.
# Possible values: 1025-65536
port=8888

# SSP version. I'm not entirely sure the use value of this.
# Possible values: nothing.
# ssp_version=0.1

# Detailed logging information. Do you want to know everything or just a brief overview with each request?
# Possible values: True or False (or anything technically as anything but True is counted as False)
detailed=True

# Where should content be logged.
logfile=ssp.log

# -----------------------------------------------------------------------------------------------

[content]
# The docroot (where the server should look for things to serve)
# Possible values: a valid directory.
docroot=.

# The location of the "It Works" page.
# Possible values: an index.html page with valid path.
itworks=html/index.html

# -----------------------------------------------------------------------------------------------