# -----------------------------------------------------------------------------------------------

[setup]

# This can be any valid port.
# Possible values: 1025-65536
port=8888

# SSP version. I'm not entirely sure the use value of this.
# Possible values: nothing.
# ssp_version=0.1

# Detailed logging information. Do you want to know everything or just a brief overview with each request?
# Possible values: True or False (or anything technically as anything but True is counted as False)
detailed=True

# Where should content be logged.
logfile=ssp.log

# This controls how ssp reports the IP that pages are served from. There are two options, True or False. If set to True (or anything but False), your local host's IP address is returned. If this is False, a fully qualified domain name is returned. If you're unsure as to what you should use, try setting this to True and if you don't see your local IP, set it to False. On some platforms with different host configurations, this may require some trial and error.
usehostname=False

# So, Linux poses some issues with getting an IP address. Set this to true if ssp reports back the localhost IP to use a different method.
# NOTE: This requires a working Internet outbound connection.
# Possible values: True or False
use_linux_ip_workaround=False

# -----------------------------------------------------------------------------------------------

[content]
# The docroot (where the server should look for things to serve)
# Possible values: a valid directory.
docroot=.

# The location of the "It Works" page.
# Possible values: an index.html page with valid path.
itworks=html/index.html

# This inserts a "powered by" string at the bottom.
# Possible values: true or false.
poweredby=true

# -----------------------------------------------------------------------------------------------

[stats]
# The location of the database with statistics info.
# Possible values: a valid directory and file location.
location=ssp_stats

# -----------------------------------------------------------------------------------------------

[password]
# Password protection. I'm not sure this will work...
# Possible values: yes or no.
enabled=no
